@tailwind base;
@tailwind preflight;
@tailwind components;
@tailwind utilities;


/*.input {
  @apply: appearance-none block w-full bg-gray-400 text-gray-400 border border-gray-200 rounded py-3 px-4 leading-tight;
}

.input:focus {
  @apply: outline-none bg-white border-gray-200;
}

.label {
  @apply: block uppercase tracking-wide text-gray-400 text-xs font-bold mb-2;
}

.select {
  @apply: appearance-none py-3 px-4 pr-8 block w-full bg-gray-400 border border-grey-lighter text-gray-800
   rounded leading-tight;
   -webkit-appearance: none;
}

.select:focus {
  @apply: outline-none bg-white border-grey;
}

.link {
  @apply: no-underline;
}*/

.header-div {
  @apply bg-gray-200 py-5;
}

.header-logo {
  @apply fill-current text-indigo-400;
}

.header-title {
  @apply uppercase text-sm font-mono pl-4 font-semibold no-underline text-indigo-400 hover:text-indigo-800;
}

.form-container {
  @apply border p-10 drop-shadow rounded-md;
}

.form-title {
  @apply text-2xl mb-6 text-gray-800 font-bold;
}

.link-grey {
  @apply text-gray-400 hover:text-gray-800 no-underline;
}

.input-label {
  @apply block uppercase tracking-wide text-gray-800 text-xs font-bold mb-2;
}

.input-box {
  @apply appearance-none block w-full bg-gray-200 text-gray-400 border border-gray-200 rounded py-3 px-4 leading-tight;
}


.submit-button {
  @apply font-sans font-bold px-4 rounded cursor-pointer no-underline bg-green-400 hover:bg-green-800 block w-full py-4 text-neutral-800 hover:text-white items-center justify-center;
}

.error-text {
  @apply text-red-800;
}
